{% extends 'base_auth.html' %} {% load static %} {% block content %}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">
      <div class="card-body">
        <div class="card-title py-3">
          <h4>Register for a free account</h4>
        </div>
        <form action="" method="post">
          <div class="form-group py-2">
            <input
              type="text"
              name="username"
              id="usernameField"
              placeholder="username"
              class="form-control form-control-sm"
            />
          </div>

          <div class="invalid-feedback" style="display: none"></div>
          <p class="text-sm text-success usernameSuccessOutput"></p>
          <div class="form-group py-2">
            <input
              type="email"
              name="email"
              id="emailField"
              placeholder="email"
              class="form-control form-control-sm"
            />
          </div>
          <div
            class="emailFeedBackArea invalid-feedback"
            style="display: none"
          ></div>
          <p class="text-sm text-success emailSuccessOutput"></p>
          <div class="form-group py-2">
            <input
              type="password"
              name="password"
              id="passwordField"
              placeholder="password"
              class="form-control form-control-sm"
            />
            <small class="btn btn-sm float-right py-2 showPasswordToggle"
              >SHOW</small
            >
          </div>
          <div class="d-grid gap-2">
            <input class="btn btn-primary" type="submit" value="Register" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}
